* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

window#waybar {
  background: #282a36;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

#battery,
#clock,
#cpu,
#custom-media,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#custom-monitor,
#custom-logout,
#custom-poweroff,
#custom-reboot,
#custom-tray-toggle,
#scratchpad,
#temperature,
#tray image,
#wireplumber,
#window,
#workspaces button,
#mpd {
  background-color: #282a36;
  border-radius: 10px;
  border: 2px solid #6272a4;
  color: #6272a4;
  font-family: JetBrainsMono Nerd Font Mono, Roboto, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0 5px 10px;
  min-height: 45px;
  padding: 0 5px;
}

#cpu,
#memory,
#temperature {
    font-size: .8rem;
}

#clock {
    font-size: .7rem;
}

window#waybar .empty #window {
  background: none;
}

#battery.charging {
  color: #d96aa9;
  animation-name: blink;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical {
  color: #ff5555;
  animation-name: blink;
  animation-duration: .75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.full {
  color: #6272a4;
}

@keyframes blink {
  to {
    color: #ff79c6;
  }
}

#network.disconnected {
  color: #6272a4;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#temperature.critical {
  color: #ff5555;
}

#workspaces {
    margin-top: 5px;
}

#custom-tray-toggle {
    margin-bottom: 10px;
}

#workspaces button:hover {
  color: #ff79c6;
  border-color: #ff79c6;
}

#workspaces button {
  color: #bd93f9;
}

#workspaces button.active {
  color: #ff79c6;
}

#workspaces button.empty {
  color: #6272a4;
}

#workspaces button.urgent {
  color: #ff5555;
}
