*.log

# bspwm
src/config/bspwm/theme

# hypr
src/config/hypr/theme.conf
src/config/hypr/hyprpaper.conf

# mutt
src/config/mutt/cache
src/config/mutt/accounts
src/config/mutt/theme
src/config/mutt/tmp

# nvim
src/config/nvim/nvim-pack-lock.json
src/config/nvim/lua/theme/colors.lua

# polybar
src/config/polybar/config

# ranger
src/config/ranger/__pycache__
src/config/ranger/devicons.py
src/config/ranger/bookmarks
src/config/ranger/history
src/config/ranger/plugins

# tmux
src/config/tmux/theme.conf

# yazi
src/config/yazi/theme.toml

# zsh
src/config/zsh/config/environments/theme.sh
