*.log

# bspwm
src/config/bspwm/theme

# mutt
src/config/mutt/cache
src/config/mutt/accounts
src/config/mutt/theme
src/config/mutt/tmp

# nvim
src/config/nvim/autoload/lightline/colorscheme
src/config/nvim/autoload/plug.vim
src/config/nvim/colors
src/config/nvim/plugged
src/config/nvim/session
src/config/nvim/snippets/mail.snippets
src/config/nvim/snippets/qa.snippets
src/config/nvim/themer.vim
src/config/nvim/themes

# ranger
src/config/ranger/__pycache__
src/config/ranger/devicons.py
src/config/ranger/bookmarks
src/config/ranger/history
src/config/ranger/plugins

# tmux
src/config/tmux/theme.conf

# zsh
src/config/zsh/config/environments/theme.sh
