[Desktop Entry]
Name=MySQL Workbench
Comment=MySQL Database Design, Administration and Development Tool
Exec=env GDK_BACKEND="wayland" GDK_DPI_SCALE="1.6" GDK_SCALE="1.6" mysql-workbench %f
Terminal=false
Type=Application
Icon=mysql-workbench
MimeType=application/vnd.mysql-workbench-model;application/sql;
Categories=GTK;Database;Development;
StartupWMClass=mysql-workbench-bin
