snippet f "FAIL"
	FAIL
snippet p "PASS"
	PASS
snippet pr "Pull request template"
	Id: ${1:id}
	Description: ${2:description}
	Preconditions:
	  1. ${3:condition}
	Steps:
	  1. ${4:step1}
	Test data:
	  - ${5:data}
	Expected result: ${6:expected}
	Actual result: ${7:actual}
	Status: ${8:PASS/FAIL}
	Notes: ${9:notes}
